@model IEnumerable<RVASIspit.Models.Racun>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Računi</h2>

@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <p>
            @Html.ActionLink("Dodaj novi račun", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}

<table class="table table-hover table-bordered table-responsive text-center align-middle">
    <tr>
        <th>
            Klijent
        </th>
        <th>
            Zaposleni
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaCena)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klijent.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaposleni.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIzdavanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnaCena)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.RacunID }, new { @class = "btn btn-primary" })
                    <text> | </text>
                    @Html.ActionLink("Details", "Details", new { id = item.RacunID }, new { @class = "btn btn-primary" })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.RacunID }, new { @class = "btn btn-primary" })
                }
                else if (User.IsInRole("Korisnik"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.RacunID }, new { @class = "btn btn-primary" })
                }
            </td>
        </tr>
    }

</table>
