@model IEnumerable<RVASIspit.Models.ProizvodSastojak>

@{
    ViewBag.Title = "Sastojci proizvoda";
}

<h2 class="text-center">Sastojci proizvoda</h2>

@if (!Model.Any())
{
    <p class="text-center">Sastojci tabela je prazna.</p>
}

@if (User.IsInRole("Admin"))
{
    <div class="text-center mb-3">
        <p>
            @Html.ActionLink("Dodaj novi", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Proizvod.Naziv)</h5>
                    <p class="card-text">Sastojak: @Html.DisplayFor(modelItem => item.Sastojak.NazivSastojka)</p>
                    <div class="text-center">
                        <div class="btn-group" role="group" aria-label="Akcije">
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Detalji", "Details", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Izmeni", "Edit", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Obriši", "Delete", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID }, new { @class = "btn btn-danger" })
                            }
                            else if (User.IsInRole("Korisnik"))
                            {
                                @Html.ActionLink("Detalji", "Details", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID }, new { @class = "btn btn-primary" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
