@model IEnumerable<RVASIspit.Models.ProizvodSastojak>

@{
    ViewBag.Title = "Index";
}

<h2>Sastojci proizvoda</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table table-hover table-bordered table-responsive text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sastojak.NazivSastojka)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sastojak.NazivSastojka)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID })
                    <text> | </text>
                    @Html.ActionLink("Details", "Details", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID })
                }
                else if (User.IsInRole("Korisnik"))
                {
                    @Html.ActionLink("Details", "Details", new { proizvodId = item.ProizvodID, sastojakId = item.SastojakID })
                }
            </td>
        </tr>
    }

</table>
