<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css" asp-append-version="true" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Proizvodi", "Index", "Proizvod", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Zaposleni", "Index", "Zaposleni", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Klijenti", "Index", "Klijent", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sastojci", "Index", "Sastojak", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sastojci proizvoda", "Index", "ProizvodSastojak", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Vrste proizvoda", "Index", "VrstaProizvoda", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Grupe proizvoda", "Index", "GrupaProizvoda", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Računi", "Index", "Racun", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Stavke računa", "Index", "StavkaRacuna", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Poslastičarnica Dolcezza</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
