@model IEnumerable<RVASIspit.Models.Klijent>

@{
    ViewBag.Title = "Klijenti";
}

<h2 class="text-center">Klijenti</h2>

@if (!Model.Any())
{
    <p class="text-center">Klinenti tabela je prazna.</p>
}

@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <p>
            @Html.ActionLink("Dodaj klijenta", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}
<table id="klijentiTable" class="table table-hover table-bordered table-responsive text-center align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.KlijentID }, new { @class = "btn btn-primary" })
                        <text> | </text>
                        @Html.ActionLink("Details", "Details", new { id = item.KlijentID }, new { @class = "btn btn-primary" })
                        <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.KlijentID }, new { @class = "btn btn-primary" })
                    }
                    else if (User.IsInRole("Korisnik"))
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.KlijentID }, new { @class = "btn btn-primary" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<section>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#klijentiTable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [5, 10, 25, 50, 75, 100],
                "pageLength": 10,
                "ordering": true,
                "searching": true
            });
        });
    </script>
</section>
