@model IEnumerable<RVASIspit.Models.Proizvod>

@{
    ViewBag.Title = "Proizvodi";
}

<h2>Proizvodi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-flex">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4>@Html.DisplayFor(modelItem => item.Naziv)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Cena)</p>
                        <p>@Html.DisplayFor(modelItem => item.GrupaProizvoda.NazivGrupe)</p>
                        <p>@Html.DisplayFor(modelItem => item.VrstaProizvoda.NazivVrste)</p>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProizvodID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProizvodID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProizvodID })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
