@model PagedList.IPagedList<RVASIspit.Models.Proizvod>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Proizvodi";
}

<h2 class="text-center pb-1">Proizvodi</h2>

<div class="search-sort-form text-center">
    @using (Html.BeginForm("Index", "Proizvod", FormMethod.Get))
    {
        <div class="form-inline d-flex justify-content-center">
            <div class="form-group mx-2">
                <input type="text" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Pretraga po nazivu" class="form-control" />
            </div>
            <div class="form-group mx-2">
                @Html.DropDownList("grupaProizvodaId", ViewBag.GrupaProizvodaID as SelectList, "Sve grupe", new { @class = "form-control" })
            </div>
            <div class="form-group mx-2">
                @Html.DropDownList("vrstaProizvodaId", ViewBag.VrstaProizvodaID as SelectList, "Sve vrste", new { @class = "form-control" })
            </div>
            <div class="form-group mx-2">
                <input type="submit" value="Search" class="btn btn-outline-success" />
            </div>
        </div>
    }
</div>

@if (User.IsInRole("Admin"))
{
    <p class="text-center pt-2">
        @Html.ActionLink("Dodaj novi proizvod", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

@if (!Model.Any())
{
    <p class="text-center">Nema nijednog proizvoda.</p>
}
else
{
    <table class="table table-bordered table-striped text-center table-hover align-middle">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, grupaProizvodaId = ViewBag.GrupaProizvodaID, vrstaProizvodaId = ViewBag.VrstaProizvodaID })
                </th>
                <th>
                    @Html.ActionLink("Cena", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter, grupaProizvodaId = ViewBag.GrupaProizvodaID, vrstaProizvodaId = ViewBag.VrstaProizvodaID })
                </th>
                <th>
                    Grupa Proizvoda
                </th>
                <th>
                    Vrsta Proizvoda
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrupaProizvoda.NazivGrupe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VrstaProizvoda.NazivVrste)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ProizvodID }, new { @class = "btn btn-primary" })
                        @if (User.IsInRole("Admin"))
                        {
                            <text> | </text>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProizvodID }, new { @class = "btn btn-primary" })
                            <text> | </text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProizvodID }, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="pagination-container text-center">
    <div>
        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount
    </div>

    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, grupaProizvodaId = ViewBag.GrupaProizvodaID, vrstaProizvodaId = ViewBag.VrstaProizvodaID }))
    </div>
</div>
