@model IEnumerable<RVASIspit.Models.StavkaRacuna>

@{
    ViewBag.Title = "Stavke Računa";
}

<h2 class="text-center">Stavke Računa</h2>

@if (!Model.Any())
{
    <p class="text-center">Stavka računa tabela je prazna.</p>
}

@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <p>
            @Html.ActionLink("Dodaj novi", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}

<table class="table table-hover table-bordered table-responsive text-center align-middle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RacunID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RacunID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Akcije">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Detalji", "Details", new { RacunID = item.RacunID, ProizvodID = item.ProizvodID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Izmeni", "Edit", new { RacunID = item.RacunID, ProizvodID = item.ProizvodID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Obriši", "Delete", new { RacunID = item.RacunID, ProizvodID = item.ProizvodID }, new { @class = "btn btn-danger" })
                    }
                    else if (User.IsInRole("Korisnik"))
                    {
                        @Html.ActionLink("Detalji", "Details", new { RacunID = item.RacunID, ProizvodID = item.ProizvodID }, new { @class = "btn btn-primary" })
                    }
                </div>
            </td>
        </tr>
    }

</table>
