@model IEnumerable<RVASIspit.Models.Zaposleni>

@{
    ViewBag.Title = "Zaposleni Index";
}

<h2 class="text-center">Svi Zaposleni</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Korisnik"))
{
    <div class="text-center">
        <p>
            @Html.ActionLink("Dodaj novog zaposlenog", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}

@if (!Model.Any())
{
    <p class="text-center">Korisnik tabela je prazna.</p>
}

<table class="table table-hover table-bordered table-responsive text-center align-middle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Korisnik"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ZaposleniID }, new { @class = "btn btn-primary" })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ZaposleniID }, new { @class = "btn btn-primary" })
                    <text> | </text>
                    @Html.ActionLink("Details", "Details", new { id = item.ZaposleniID }, new { @class = "btn btn-primary" })
                }
            </td>
        </tr>
    }
</table>
