@model IEnumerable<RVASIspit.Models.Zaposleni>

@{
    ViewBag.Title = "Svi Zaposleni";
}

<h2 class="text-center">Svi Zaposleni</h2>

@if (!Model.Any())
{
    <p class="text-center">Zaposleni tabela je prazna.</p>
}

@if (User.IsInRole("Admin") || User.IsInRole("Korisnik"))
{
    <div class="text-center">
        <p>
            @Html.ActionLink("Dodaj novog zaposlenog", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Ime) @Html.DisplayFor(modelItem => item.Prezime)</h5>
                    @if (User.IsInRole("Admin") || User.IsInRole("Korisnik"))
                    {
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Detalji", "Details", new { id = item.ZaposleniID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Izmeni", "Edit", new { id = item.ZaposleniID }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Obriši", "Delete", new { id = item.ZaposleniID }, new { @class = "btn btn-danger" })
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>